@model List<CollegeProgram>

<a class="btn btn-success" href="/program/add"><i class="bi bi-plus-lg"></i> New Tech Program</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Affliation</th>
      <th scope="col">Started</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var college in Model)
    {
      <tr>
        <th scope="row">@college.Id</th>
        <td>@college.Name</td>
        <td>@college.Affliation</td>
        <td>@college.Started</td>
      </tr>
    }    
  </tbody>
</table>